# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.

- Get to know popular languages for DS.

- Acknowledge some common libraries used in DS.

- Recognize the arithmetic operation available in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. JAVA
3. R

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- NumPy
- PyPlot

| Data Science Tools |
|-------------------|
| RStudio |
| ApacheSpark |
|TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

- Addition:
    x+y=z
- Multiplication:
    x*y=z
- Division:
    x/y=z

In [3]:
x=(3*4)+5

#This a simple arithmetic expression to mutiply then add integers

print(x)

17

In [4]:
x=(200/60)

#This will convert 200 minutes to hours by diving by 60

print (x)

3.3333333333333335

## Author
Juan Bravo